.form__input input,
.form__input textarea {
  width: 100%;
  padding: 7px 25px;
  color: rgb(169, 34, 34);
  font-size: 0.8rem;
  background: transparent;
  border: 1px solid rgba(221, 221, 221, 0.506);
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

input::placeholder,
textarea::placeholder
{
  color: #004cb683;
}

.form__input {
  margin-bottom: 15px;
}

.form__input label {
  color: #00337C;
  margin-bottom: 10px;
}

.form__input .upload__input {
  padding: 40px 25px;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

#issue{
  color: black;
  z-index: 2;
  font-family: "Staatliches", cursive;
  margin: 0;
  position: absolute;
  left: 220px;
  top: 505px;
  font-size: 15px;
}

@media only screen and (max-width: 576px) {
  .create__item {
    margin-top: 15px;
  }
}
