.part1{
    position: relative;
    height: 325px;
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
    width: 420px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.4) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    backdrop-filter: blur(5px) !important;
    border: 2px solid rgba(255, 255, 255, 0.1) !important;
    
}

.part1_1 {
    position: relative;
    height: 120px;
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
    width: 250px;
    padding-left: 10px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.4) !important;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(50px);
    border: 2px solid rgba(255, 255, 255, 0.1) !important;
    padding-top: 10px;
}

.part1_2{
    position: relative;
    padding-left: 10px;
    padding-top: 10px;
    height: 120px;
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
    width: 250px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.4) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    backdrop-filter: blur(5px) !important;
    border: 2px solid rgba(255, 255, 255, 0.1) !important;
}

.part1_3{
    position: relative;
    height: 120px;
    padding-top: 10px;
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
    width: 250px;
    padding-left: 10px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.4) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    backdrop-filter: blur(5px) !important;
    border: 2px solid rgba(255, 255, 255, 0.1) !important;
}

.singleNft-btn {
    padding: 8px 25px;
    background: #5142fc;
    border: none;
    outline: none;
    border-radius: 50px;
    transition: 0.3s;
    display: flex;
    margin: 0px;
    align-items: center;
    justify-content: center;
    left:60px;
    color: white !important;
  }

  .singleNft-btn a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
  }

  .singleNft-btn:hover {
    background: #fff;
    background: transparent;
    border: 1px solid #5142fc ;
  }
  
  .singleNft-btn:hover a {
    color: #5142fc !important;
  }

  

.single__nft__card1{
  position: relative;
  /* height: 120px; */
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
  padding-left: 10px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.4) !important;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(50px);
  border: 2px solid rgba(255, 255, 255, 0.1) !important;
  padding-top: 10px;
}


.mygraph1{
  position: relative;
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.4) !important;
  -webkit-backdrop-filter: blur(5px) !important;
  backdrop-filter: blur(5px) !important;
  border: 2px solid rgba(255, 255, 255, 0.1) !important;
  
}
.mygraph2{
  position: relative;
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.4) !important;
  -webkit-backdrop-filter: blur(5px) !important;
  backdrop-filter: blur(5px) !important;
  border: 2px solid rgba(255, 255, 255, 0.1) !important;
  
}

