.modal-container {
  position: absolute;
  left: -4%;
  top: -18px;
  z-index: 1;
  overflow: auto;
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    position: relative;
  }
  
  .close {
    color: #aaa;
    width: fit-content;
    position: relative;
    float: left;
    left: 180px;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .share{
      display: inline-flex;
  border: none;
  outline: none;
  padding: 5px 22px;
  background: transparent;
  font-size: 0.9rem;
  color: #fff;
  margin: 0 20px;
  width: 170px;
  font-size: large;
  border-radius: 5px;
  transition: 0.3s;
  background: #2684ff;
  text-decoration: none;
  justify-content: space-evenly;
  }

.model{
  position: relative;
  left:80%;
  top:125px;
  width: fit-content;
}

.fa-share-alt{
  padding-top: 5px;
}

.colorfulbtn1{
  color: #2684ff
}


.colorfulbtn{
  padding-top: 10px;
  color: #2684ff;
}