.single__nft__card {
  padding: 20px;
  background: #ffffff49;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.nft__img img {
  border-radius: 6px;
}

.nft__img {
  margin-bottom: 15px;
}

.nft__title {
  margin-bottom: 15px;
}

.nft__title a {
  color: #2666BA;
  font-size: 1rem;
  text-decoration: none;
}

.nft__title a:hover {
  color: rgba(51, 51, 51, 0.958);
}

.creator__img {
  width: 40px;
  height: 40px;
}

.creator__info h6 {
  font-size: 0.7rem;
  color: #00337C;

  margin-bottom: 0;
  font-weight: 300;
}

.creator__info p {
  font-size: 0.9rem;
  color: #00337C;

  margin-bottom: 0;
  font-weight: 500;
}

.bid__btn {
  border: none;
  outline: none;
  padding: 5px 22px;
  background: transparent;
  border: 1px solid #00337C;
  font-size: 0.9rem;
  color: #fff;
  border-radius: 5px;
  transition: 0.3s;
  background: #2684ff;
}

.bid__btn:hover {
  background: transparent;
  color: #2684ff;
  border: 1px solid #00337C;
}

.history__link a {
  text-decoration: none;
  color: #00337C;

  font-size: 0.9rem;
}

.history__link a:hover {
  color: #000000;
}

.live__auction__top h3 {
  color: #2666BA;
  font-weight: 700;
}

.live__auction__top span a {
  text-decoration: none;
  color: #00337C;
  border-bottom: 1px solid #7684ff;
}
